*.log

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store

# Translation build files
build/*

# Test coverage files
coverage/*

# yarn metadata
*.lock

.ebextensions/*

public/bundle.js
