*.log

# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store

# Translation build files
build/*
dist/*

# Test coverage files
coverage/*

#Public folder images
public/*.jpg
public/*.ttf
public/*.svg

# yarn metadata
*.lock

# tag files
.tags
.tags1

public/bundle.js
