@import "bootstrap";
@import "bootstrap-theme";
@import "react-datetime";

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

body {
  font-family: Avenir;
  padding-top: 60px;
  background-color: #f4f4f4;
}

.content-page {
  margin: 0 auto;
  @media (min-width: 1200px) {
    width: 50%;
  }
}


.overlay {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
  .loader {
    background: url('/images/loader.svg') center center no-repeat;
    width: 100%;
    height: 100%;
  }
}

.navbar-default {
  background-color: white;
  box-shadow: none;
  border: none;

  a {
    color: black;
    text-transform: lowercase;
    font-size: 19px;
  }
}

.responsive-margins {
  background-color: red;
  margin: 0 auto;
  @media (min-width: $screen-lg) {
    width: 50%;
  }
  @media (max-width: $screen-sm) {
    width: 90%;
  }
}

.filter-bar {
  .exchange-type {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    padding: 10px 0;
    background-color: #f2f2f2;
    cursor: pointer;

    &.selected, &:hover {
      background-color: #e6e6e6;
    }
  }
}

.circular-img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
}

.transaction {
  border: 1px solid lightgray;
  text-align: left;
  background-color: white;
  width: 95%;
  margin: 0 auto;

  .t-wrapper {
    display: inline-block;
    width: 100%;
    padding: 7px 5px;
  }

  .content {
    display: flex;
    float: left;
    .direction {
      margin: 0 5px;
    }

    .exchange {
      padding-left: 8px;
      border-left: 1px dotted grey;
      .request-type {
        font-style: italic;
      }
    }
  }

  .identity {
    min-width: 60px;
    margin: 0 8px;
    text-align: center;
    .circular-img {
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }
  }

  .timestamp {
    float: right;
  }

  .responses, .intro {
    text-align: center;
    button {
      width: 100%;
    }

    .btn-default {
      border: none;
      background: #98D9B5;
      color: white;
      text-shadow: none;
      margin: 5px 0;
    }
  }

  .action-area {
    background-color: #e6e6e6;
  }

  .messaging {
    .conversation {
      height: 300px;
      overflow-y: auto;
    }

    .sendButton {
      float: right;
    }

    .message {
      max-width: 50%;
      margin-top: 4px;
      margin-bottom: 4px;
      .text {
        margin-bottom: 3px;
        border-radius: 5px;
        padding: 8px;
        background-color: #f2f2f2;

      }
      &.myself {
        float: right;
        clear: both;
        margin-right: 5px;
      }
      &.other-person {
        float: left;
        clear: both;
        margin-left: 5px;
      }
    }
    .author {
      font-size: 8px;
    }
  }
  .notice {
    text-align: center;
    button {
      display: block;
      width: 30%;
      margin: 0 auto;
    }
  }
}

.messageInput {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
}


.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 20px;
  width: 52px;
  @media (max-width: $screen-sm) {
    width: 0px;
  }
  height: 100%;
  margin-right: -20px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e6e6e6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }

  &.toggled {
    width: 200px;
    #page-content-wrapper {
      width: 100%;
      padding: 20px;
      position: relative;
    }
  }
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 50px;

    a {
      display: block;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
      }

      &:active, &:focus {
        text-decoration: none;
      }

      img {
        margin-right: 20px;
      }
    }
  }
}

.user-card {
  padding: 0px 6px 6px 6px;
  border: 1px solid lightgray;
  font-family: Avenir;

  .bookmark {
    width: 50px;
    float: left;
    margin: -2px 0px 0px -5px;
  }

  .profile-info {
    padding: 15px 10px 10px 10px;
    background-color: white;

    .profile-pic {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: none;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
    }

    .name-location {
      clear: both;
      text-align: center;
      white-space: nowrap;

      h3 {
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 10px 0;
      }

      h4 {
        font-size: 14px;
      }

      .distance {
        margin: 5px 0;
        font-size: 12px;
      }
    }

    .skill-icons {
      overflow: hidden;
      padding-top: 10px;
    }

    hr {
      border-top: 1px dashed lightgray;
      margin: 0px -15px;
    }

    p {
      color: #18bc9c;
      margin-top: 5px;
    }

    .popover {
      width: 50%;
    }
  }

  .about-me{
    text-align: center;
    font-weight:bold;
  }

  .about-me-note{
    padding: 0px 6px 15px 6px;
    text-align: center;
  }

  .action-calls {
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px gray;
  }
}

.service-type {
  text-align: center;
  font-size: 12px;
  padding: 10px 0px;
  border: 1px solid #c9c9c9;
  background: none;
  &.selected {
    background: #e6e6e6;
    font-style: italic;
  }
}

.skill-label {
  display: inline-block;
  padding: 3px 8px;
  margin: 5px;
  border: 1px solid black;
  background-color: none;
  border-radius: 2px;
}

.skill-select {
  .skill-label.selected, .skill-label:hover {
    color: white;
    background-color: #4a4a4a;
    cursor: pointer;
  }
}

.acceptModal {
  .checkmark {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 25px;
  }
}

/* This is for when selecting rating for new review */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  & > span {
    display: inline-block;
    position: relative;
    width: 1.2em;
    font-size: 24px;
  }

  & > span:hover:before,
  & > span:hover:before,
  & > span:hover ~ span:before,
  & > span.selected:before,
  & > span.selected ~ span:before {
     content: "\2605";
     position: absolute;
     color: gold;
  }
}

.radio {
  padding: 11px 0;
  background: #e6e6e6;
  font-style: italic;
  text-align: center;
  border: 1px solid #efefef;
  width: 33%;
  display: inline-block;
  &.selected {
    background-color: #98d9b5;
  }
}

.edit-profile-page {
  .label-top {
    vertical-align: top;
    padding-top: 5px;
  }
  .user-activities {
    text-align: center;
    ul {
      text-align: left;
    }
  }

  .form-control, .user-activities {
    display: inline-block;
    @media (min-width: 768px) {
      width: 60%;
    }
  }

  .control-label {
    margin-right: 10px;
    @media (min-width: 768px) {
      text-align: right;
      width: 25%;
    }
  }

  .radio-block {
    display: inline-block;
    @media (min-width: 768px) {
      width: 60%;
    }
  }

  .save-button {
    text-align: center;
    @media (min-width: 768px) {
      margin-left: 25%;
      width: 60%;
    }
  }

  .circular-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

